
<div class="jumbotron">
  <div class="container text-center">
    <h1>Tips Tricks And Daily Reads</h1>      
    <p>Try out the Fisherman's Challenge!!!</p>
  </div>
</div>
   
      <div class="container-fluid">
        <div class="col-md-9 col-md-offset-2">
          <div class="well" href="#section1">
            <h4 class="text-center">Fisherman's Challenge</h4>
            <p class="text-center">This is the Challenge for today see if you can catch one in your area.</p>
            <div *ngIf="fish" >
             <h2 class="text-center">{{fish.fishName}}</h2>
             {{fish.fishInfo}}
          </div>
         
          </div>
          <div class="row">
            <div class="col-sm-3">
              <div class="well">
                <h4>High Waters</h4>
                <p>
                  Flooded trees, Flooded Run-out areas, and Tributaries are often the greatest fishing areas to try. Depending 
                  on what you are fishing for these areas typically hold the volume of fish species.
                </p> 
              </div>
            </div>
            <div class="col-sm-3">
              <div class="well">
                <h4>Low Waters</h4>
                <p>
                  Depending on the time of the year during low waters, the water temperature can play a huge part in what you are searching for.
                  Running streams and highly oxygenated waters often hold bass and related species. Deep waters will hold catfish.
                </p> 
              </div>
            </div>
            <div class="col-sm-3">
              <div class="well">
                <h4>Steady Waters</h4>
                <p>
                  Possibly the fishermans dream when fishing for multiple days, the fish will tend to their natural habitat and often be easier to catch during these periods.
                </p> 
              </div>
            </div>
            <div class="col-sm-3">
              <div class="well">
                <h4>Fluctuating Waters</h4>
                <p>
                  During a fast rise or fall, such as several inches a day, small fish in rivers tend to concentrate in areas where they can escape
                  the excessively heavy flow. Bigger Fish tend to go on a feeding spree that may carry them upstream and downstream through their home area.
                </p> 
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="well">
                <h4>Improved Clinch Knot</h4> 
                <p>Basic knot everyone should learn for trying leaders and lines to hooks and swivels. One of the beginner knots to use.</p> 
                <img src="http://stripersonline.com/surftalk/attachment.php?attachmentid=452317&d=1300902384" class="img-responsive" style="width:100%" alt="Image" style="height:400px">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="well">
                <h4>Palomar Knot</h4> 
                <p>Basic knot that provides almost 100% of line strength. This is very popular with cat fisherman because it is easily tied at night with minimun practice. It is easy and fast to tie.</p> 
                <br><br>
                <img src="http://www.bassnedge.com/tips/tipimages/palomar.jpg" class="img-responsive" style="width:100%" alt="Image" style="height:325px">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="well">
                <h4>Dropper Loop Knot</h4> 
                <p>This knot provides a handy attachment point for a dropper line when fishing with several hooks</p> 
                <img src="http://fishwrecked.com/files/images/dropperloop.jpg" class="img-responsive" style="width:100%" alt="Image" style="height:400px">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8">
              <div class="well">
                <p>Water levels are one of the most important factors on almost all waterbodies, and knowing how the water level is relative to past trips will help you more quickly relocate fish. A key is to pick a marker, whether it be a particular bridge piling, dock post, or stump, and always remember to look at it every time you arrive to fish. If there’s nothing available, a stick stuck in the mud on shore will quickly tell you how the water level compares to your last trip.</p> 
              </div>
            </div>
            <div class="col-sm-4">
              <div class="well">
                <p>The best time to fish is before a front comes through, and right after. Depending on the species, fish go on feeding sprees either before or after a storm.</p> 
              </div>
            </div>
          </div>
          <div class="well" href="#section2">
            <h4 class="text-center">Beginner's Tips</h4>
            <p class="text-center">Beginner Guide to success</p>
            <p class="text-center">Top ten tips to start fishing successfully</p>
            <h4 class="text-center">Number 1</h4>
            <p class="text-center">Be very patient, Fishing is all about studying the fish and knowing how to use the proper set-up confidently.</p>
            <h4 class="text-center">Number 2</h4>
            <p class="text-center">For your fishing pole a Spinner Reel is your best friend, pratice making accurate cast with this without the worry of BirdNesting!!!</p>
            <h4 class="text-center">Number 3</h4>
            <p class="text-center">Try fishing your local park and catch bluegill and channel catfish there, often some of the easier water-ways can provide great Fishing Days.</p>
            <h4 class="text-center">Number 4</h4>
            <p class="text-center">Every Trip gain more confidence and challenge yourself. Learn from Mistakes and learn from the fish.</p>
            <h4 class="text-center">Number 5</h4>
            <p class="text-center">Become a weather and waterlevel expert, heading to natural lakes and rivers these conditions play a major role on your fishing journey.</p>
            <h4 class="text-center">Number 6</h4>
            <p class="text-center">find your favorite rig and baits, these will become your backbone solutions for catching trophies.</p>
            <h4 class="text-center">Number 7</h4>
            <p class="text-center">Never get Discouraged, Fishing is unbelievably unpredictable. Some days are amazing, some are very dry..</p>
            <h4 class="text-center">Number 8</h4>
            <p class="text-center">Become a expert on your favorite fish to catch, If nothing else bites alot of times you can get your favorite out of the day.</p>
            <h4 class="text-center">Number 9</h4>
            <p class="text-center">Experiment, Fishing has so many methods, often the fisherman with more than one tactic has all the luck.</p>
            <h4 class="text-center">Number 10</h4>
            <p class="text-center">Have Fun on Every Trip, Fishing is a Hobby Enjoy the open waters and make the most of it.</p>
          </div>
          <div class="well" href="#section3">
            <h4 class="text-center">Fish Videos</h4>
            <p class="text-center">Entertaiment While Fishing</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/yD8l1rqeS6w" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
           
            <iframe width="560" height="315" src="https://www.youtube.com/embed/PV5Pg_3bud8" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
     
            <iframe width="560" height="315" src="https://www.youtube.com/embed/cLc6e_lwWAo" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
            
            <iframe width="560" height="315" src="https://www.youtube.com/embed/2Wk3CbpeHWo" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
          </div>
          <div class="well" href="#section4">
            <h4 class="text-center">Recipes</h4>
            <p class="text-center">The Winner's Aftermath</p>
            <br>
            <h4 class="text-center">Cajun Battered Catfish</h4>
            <p class="text-center">
              2 to 3 pounds catfish fillets or steaks   <br>     1/2 cup dried Italian bread crumbs <br>
              1 cup prepared mustard   <br> 1 teaspoon salt   <br>
              2 eggs, slightly beaten   <br> 1 teaspoon garlic powder   <br>
              1 teaspoon of favorite hotsauce  <br> 1 teaspoon freshly ground black pepper   <br>
              1/2 cup corn flour   <br> 1/2 cup cornmeal  <br>
              1/2 cup all-purpose flour   <br> 1 teaspoon paprika   <br>
              In a bowl, combine mustard, eggs, and hot sauce. In another bowl, combine the remaining ingredients, except catfish. Brush catfish with mustard mixture until well coated.
              Dip fish in the dry mixture. Fry fish until golden brown in your choosing of fry oil heated to 375 F.
            </p>
            <br>
            <br>
            <h4 class="text-center">Whole Grilled Trout</h4>
            <p class="text-center">
              2 whole trout, cleaned   <br>     1/2 sweet onion, thinly sliced <br>
              1 tablespoon olive oil divided   <br> 1 clover garlic, minced   <br>
              1 pinch coarse sea salt to taste   <br> 2 sprigs fresh rosemary   <br>
              1 pinch ground black pepper  <br> 1/2 lemon, thinly sliced   <br>
               2 sprigs fresh thyme  <br>
              Preheat an outdoor grill for high heat and lightly oil the grate.Rub each trout generously with olive oil and sprinkle with sea salt; sprinkle inside of cavities with salt and black pepper. Place half the lemon and onion slices into cavity of each trout, along with minced garlic, and place a sprig of rosemary and thyme into cavities.
              Turn preheated grill down to low and place the trout directly onto the grill; cook until flesh flakes easily and the skins are browned, 6 to 7 minutes per side, flipping once.
            </p>
          </div>
        </div>
      </div>
  

